body {
    font-family: 'Courier New', Courier, monospace;
    padding: 0px;
    height: 100vh;
    margin: 0;
    position: relative
}

.background {
    background-image: url('/static/back.jpg');
    z-index: 0;
    background-position: center;
    background-size: cover;
    height: 100%;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.603);
    width: 100%;
    height: 100%;
    z-index: 1;
    position: fixed;
}

.card {
    background-color: white;
    border: 1px solid black;
    margin: auto;
    margin-top: 10%;
    width: 30%;
    min-width: 400px;
    justify-content: center;
    text-align: center;
}

.card p {
    font-size: 13px;
    color: gray;
    margin-bottom: 30px;
    padding: 0px 40px;
}

.newsInp {
    border: 1px solid black;
    border-radius: 5px;
    resize: none;
}

.btnWrapper {
    justify-content: center;
    text-align: center;
}

.submitBtn {
    text-align: center;
    margin: 25px 0px;
    padding: 10px 15px;
    font-weight: 600;
    background-color: rgb(81, 0, 156);
    color: white;
    border: 1px solid grey;
    font-family: 'Courier New', Courier, monospace;
}

.error {
    color: red;
}